{% extends "layout.jinja2" %}

{% block assets %}
    {% webpack 'main', '.js' -%}
        <script type="text/javascript" src="{{ ASSET.url }}" async defer></script>
    {% endwebpack %}

    {% webpack 'main', '.css' -%}
        <link rel="stylesheet" type="text/css" href="{{ ASSET.url }}">
    {% endwebpack %}

{% endblock %}

{% set tile_class_mapping = {
    '-': 'board-tile-nothing',
    '1': 'board-tile-tripple-word',
    '2': 'board-tile-tripple-letter',
    '3': 'board-tile-double-word',
    '4': 'board-tile-double-letter',
    '5': 'board-tile-center',
} %}

{% block content %}
<input type="hidden" value="{{ board_rows }}" id="board-rows" />
<input type="hidden" value="{{ board_cols }}" id="board-cols" />
<div class="content">
    <center>
        <div class="board-container">
            <div class="board">
                {% for y in range(board_rows) %}
                    {% for x in range(board_cols) %}
                        <span data-x="{{ x }}" data-y="{{ y }}" class="board-tile {{ tile_class_mapping[board[y * board_cols + x]] }}">
                            <input maxlength="1" type="text"/ >
                        </span>
                    {% endfor %}
                    <br />
                {% endfor %}
            </div>

            <div class="solutions">
                <ul></ul>
            </div>
        </div>

        <div class="rack">
            {% for i in range(rack_size) %}
            <span class="rack-tile" data-i="{{ i }}">
                <input maxlength="1" type="text" />
            </span>
            {% endfor %}
        </div>

        <div class="buttons">
          <button id="submit" type="button" class="btn btn-secondary">Submit</button>
        </div>
    </center>
</div>
{% endblock content %}
