$rack-background: rgb(124, 111, 89);
$rack-dark-background: darken($rack-background, 10%);

$black: rgb(0, 0, 0);

$tile-color: rgb(243, 204, 139);
$tile-color-suggestion: rgb(139, 243, 139);

$select-direction-color: rgb(117, 190, 87);

$border: 1px solid $black;
$suggestion-highlight: rgb(223, 240, 216);

$board-tile-nothing: rgb(206, 197, 168);
$board-tile-tripple-word: rgb(255, 109, 83);
$board-tile-double-letter: rgb(192, 218, 217);
$board-tile-double-word: rgb(255, 199, 186);
$board-tile-tripple-letter: rgb(0, 149, 170);
$board-tile-center: rgb(255, 199, 186);

.content {
    margin-top: 100px;
}

.rack {
    background-color: $rack-background;
    font-size: 0;
    height: 55px;
    margin-top: 30px;
    width: 500px;

    .rackTile {
        border: 0;
        display: inline-block;
        font-size: 14px;
        height: 35px;
        line-height: 35px;
        margin: 10px 2px;
        text-align: center;
        width: 35px;

        &:not(.inputVisible)::after {
            content: '';
            display: inline-block;
            font-size: 1em;
            height: 1em;
            zoom: 1;
        }

        &:not([data-letter]):not(.inputVisible) {
            background-color: $rack-background;
        }

        input {
            background-color: $rack-dark-background;
            border: 0;
            display: none;
            height: 35px;
            text-align: center;
            width: 35px;

            &:focus {
                outline: 0;
            }

            &::selection {
                background: transparent;
            }

        }

        &.inputVisible {
            input {
                display: inline-block;
            }
        }
    }

    .rackTile[data-letter]:not(.inputVisible) {
        background-color: $tile-color;
        border: 1px solid $black;
        font-weight: bold;

        &::after {
            content: attr(data-letter);
            text-transform: uppercase;
        }
    }
}

.buttons {
    margin-top: 30px;
}

.boardContainer {
    position: relative;

    .board {
        display: inline-block;
        font-size: 0;
        padding: 1px;

        .boardTile {
            border: 1px solid transparent;
            display: inline-block;
            font-size: 14px;
            height: 35px;
            line-height: 35px;
            margin: 1px;
            overflow: hidden;
            position: relative;
            text-align: center;
            width: 35px;

            &.selected {
                input {
                    display: inline-block;
                }

                &.selectedRight {
                    input {
                        border-right: 3px solid $select-direction-color;
                    }
                }

                &.selectedDown {
                    input {
                        border-bottom: 3px solid $select-direction-color;
                    }
                }
            }

            &:not(.selected)::after {
                content: '';
                display: inline-block;
                font-size: 1em;
                height: 1em;
                zoom: 1;
            }

            input {
                background-color: lighten($board-tile-nothing, 10%);
                border: 0;
                display: none;
                height: 31px;
                left: 1px;
                position: absolute;
                text-align: center;
                top: 1px;
                width: 31px;


                &:focus {
                    outline: 0;
                }

                &::selection {
                    background: transparent;
                }
            }
        }

        .boardTile[data-letter]:not(.selected) {
            background-color: $tile-color;
            border: 1px solid $black;
            font-weight: bold;

            &.suggestion {
                background-color: $tile-color-suggestion;
            }

            &::after {
                content: attr(data-letter);
            }
        }

        :not([data-letter]):not(.selected) {
            &.boardTileNothing {
                background-color: $board-tile-nothing;
            }

            &.boardTileTrippleWord {
                background-color: $board-tile-tripple-word;

                &::after {
                    content: 'TW';
                }
            }

            &.boardTileDoubleLetter {
                background-color: $board-tile-double-letter;

                &::after {
                    content: 'DL';
                }
            }

            &.boardTileDoubleWord {
                background-color: $board-tile-double-word;

                &::after {
                    content: 'DW';
                }
            }

            &.boardTileTrippleLetter {
                background-color: $board-tile-tripple-letter;

                &::after {
                    content: 'TL';
                }
            }

            &.boardTileCenter {
                background-color: $board-tile-center;

                &::after {
                    content: '\2605';
                }
            }
        }
    }
}

.suggestionContainer {
    display: inline-block;
    height: 100%;
    margin-left: 20px;
    max-width: 260px;
    position: absolute;
    width: 260px;

    .applySuggestion {
        margin-top: 12px;
    }

    .suggestions {
        border: $border;
        height: 90%;
        overflow-y: auto;

        ul {
            height: 100%;
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: left;

            li {
                border-top: $border;
                border-top-style: dashed;
                cursor: pointer;
                padding: 10px;

                .word {
                    font-weight: bold;
                }

                &.active {
                    background-color: darken($suggestion-highlight, 35%);
                }

                &:hover:not(.active) {
                    background-color: $suggestion-highlight;
                }

                &:first-child {
                    border: 0;
                }
            }
        }
    }
}
