.content {
    margin-top: 100px;
}

$rack-background: rgb(124, 111, 89);
.rack {
    margin-top: 30px;
    background-color: $rack-background;
    height: 55px;
    width: 500px;
    font-size: 0px;

    .rack-tile {
        display: inline-block;

        font-size: 14px;

        line-height: 35px;
        height: 35px;
        width: 35px;
        margin: 10px 2px;
        border: 0;

        text-align: center;

        &:not(.input-visible)::after {
            display: inline-block;
            zoom: 1;
            height: 1em;
            font-size: 1em;
            content: '';
        }

        &:not([data-letter]):not(.input-visible) {
            background-color: darken($rack-background, 10%);
        }

        input {
            background-color: darken($rack-background, 10%);
            display: none;
            text-align: center;
            height: 35px;
            width: 35px;
            border: 0;

            &:focus {
                outline: 0;
            }
            &::selection {
              background: transparent;
            }

        }

        &.input-visible input {
            display: inline-block;
        }
    }

    .rack-tile[data-letter]:not(.input-visible) {
        background-color: rgb(243, 204, 139);

        font-weight: bold;
        border: 1px solid black;

        &::after {
            content: attr(data-letter);
            text-transform: uppercase;
        }
    }
}

.buttons {
    margin-top: 30px;
}

.board-container {
    position: relative;

    .board {
        font-size: 0;
        padding: 1px;
        display: inline-block;

        .board-tile {
            display: inline-block;

            font-size: 14px;

            line-height: 35px;
            height: 35px;
            width: 35px;
            margin: 1px;
            border: 1px solid transparent;

            text-align: center;

            &.selected {
                &.selected-right input {
                    border-right: 3px solid green;
                }
                &.selected-down input {
                    border-bottom: 3px solid green;
                }
            }

            &:not(.selected)::after {
                display: inline-block;
                zoom: 1;
                height: 1em;
                font-size: 1em;
                content: '';
            }

            input {
                display: none;
                text-align: center;
                height: 30px;
                width: 30px;
                border: 0;

                &:focus{
                    outline:0;
                }
                &::selection {
                  background: transparent;
                }
            }

            &.selected input {
                display: inline-block;
            }
        }

        .board-tile[data-letter]:not(.selected) {
            background-color: rgb(243, 204, 139);
            font-weight: bold;
            border: 1px solid black;

            &.suggestion {
                background-color: rgb(139, 243, 139);
            }

            &::after {
                content: attr(data-letter);
                text-transform: uppercase;
            }
        }

        :not([data-letter]):not(.selected) {
            &.board-tile-nothing {
                background-color: rgb(206, 197, 168);
            }

            &.board-tile-tripple-word {
                background-color: rgb(255, 109, 83);
                &::after {
                    content: 'TW';
                }
            }

            &.board-tile-double-letter {
                background-color: rgb(192, 218, 217);
                &::after {
                    content: 'DL';
                }
            }

            &.board-tile-double-word {
                background-color: rgb(255, 199, 186);
                &::after {
                    content: 'DW';
                }
            }

            &.board-tile-tripple-letter {
                background-color: rgb(0, 149, 170);
                &::after {
                    content: 'TL';
                }
            }

            &.board-tile-center {
                background-color: rgb(255, 199, 186);
                &::after {
                    content: '\2605';
                }
            }
        }
    }
}

.solutions {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 260px;
    max-width: 260px;
    border: 1px solid #ccc;
    overflow-y: auto;

    ul {
        list-style-type: none;
        padding: 0px;
        text-align: left;

        $border: 1px dashed #ccc;
        $highlight: rgb(223, 240, 216);
        li {
            padding: 10px;
            border-top: $border;

            .word {
                font-weight: bold;
            }

            &.active {
                background-color: darken($highlight, 35%);
            }
            &:hover:not(.active) {
                background-color: $highlight;
                cursor: pointer;
            }

            &:first-child {
                border: 0;
            }

            &:last-child {
                border-bottom: $border;
            }
        }
    }
}